@import url("https://fonts.googleapis.com/css2?family=Philosopher&family=Roboto&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
  list-style-type: none;
}

html {
  scroll-behavior: smooth;
}

header {
  margin: auto;
  width: 1440px;
  height: 72px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .logo-main {
  margin-left: 120px;
}
header .header-a {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #000000;
}
header nav {
  margin-left: 200px;
  margin-right: 120px;
  display: flex;
  align-items: center;
}
header nav button {
  width: 188px;
  height: 44px;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  color: #173047;
  margin-left: 30px;
  box-shadow: 0 0 3px 0px #173047;
  border-radius: 3px;
  transition: 0.5s;
}
header nav button:hover {
  color: #fff;
  background-color: #173047;
  transition: 0.5s;
}
header nav button:active {
  background-color: rgba(20, 63, 72, 0);
  color: #173047;
}
header ul {
  font-family: "Roboto", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  gap: 20px;
  font-size: 11px;
}
header ul li a {
  color: #173047;
}
header ul .nav-select {
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  font-size: 11px;
  color: #173047;
  cursor: pointer;
}

main {
  width: 860px;
  margin: auto;
}
main .hero {
  width: 100%;
}
main .hero .img-div {
  width: 820px;
  height: 369px;
  margin: auto;
}
main .hero button {
  cursor: pointer;
  width: 186px;
  height: 21px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  color: #3CC8AE;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: 700;
  margin-bottom: 21px;
}
main .hero .date-p {
  font-family: "Roboto", sans-serif;
  margin-top: 36px;
  margin-bottom: 24px;
  margin-left: 20px;
  color: #000000;
  opacity: 0.6;
}
main .info-1 {
  width: 744px;
  height: 88px;
  margin-left: 20px;
  margin-bottom: 33px;
}
main h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  letter-spacing: -1px;
  color: #152739;
}
main .social {
  width: 370px;
  height: 65px;
  display: flex;
  align-items: center;
  gap: 20px;
  box-shadow: 0 1px 3px 0 grey;
  border-radius: 6px;
  margin-left: 20px;
  margin-bottom: 30px;
}
main .social .icons {
  width: 37px;
  height: 37px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  border-radius: 6px;
  font-size: 18px;
}
main .social .icon-n-1 {
  background-color: dodgerblue;
  margin-left: 20px;
}
main .social .icon-n-2 {
  background-color: #395697;
}
main .social .icon-n-3 {
  background-color: #0a2766;
}
main .social .icon-n-4 {
  background-color: #3CC8AE;
}
main .info-p-1 {
  margin-left: 20px;
  margin-top: 31px;
  font-size: 18px;
  width: 820px;
  height: 168px;
  font-family: "Roboto", sans-serif;
}
main .info-p-2 {
  margin-left: 20px;
  margin-top: 31px;
  font-size: 18px;
  width: 820px;
  height: 560px;
  font-family: "Roboto", sans-serif;
}
main .info-p-2 h2 {
  margin-bottom: 17px;
  font-size: 26px;
}
main .info-p-3 {
  margin-left: 20px;
  margin-top: 31px;
  font-size: 18px;
  width: 820px;
  height: 560px;
  font-family: "Roboto", sans-serif;
}
main .info-p-3 p {
  margin-bottom: 24px;
  margin-top: 20px;
}
main .info-p-3 h2 {
  margin-bottom: 17px;
  font-size: 26px;
}
main .info-p-3 ul {
  margin-left: 20px;
}
main .info-p-3 li {
  list-style-type: disc;
}
main .info-p-4 img {
  margin-left: 20px;
}
main .info-p-4 p {
  margin-top: 20px;
  color: grey;
  font-size: 15px;
  text-align: center;
  font-family: "Roboto", sans-serif;
}
main .info-p-5 {
  width: 820px;
  height: 168px;
}
main .info-p-5 p {
  margin-top: 40px;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  margin-left: 20px;
}
main .form {
  width: 820px;
  height: 221px;
  margin: auto;
}
main .form h2 {
  margin-bottom: 17px;
  font-size: 26px;
  font-family: "Roboto", sans-serif;
}
main .form p {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
}
main .form input {
  margin-top: 30px;
  width: 431px;
  height: 52px;
  padding: 20px;
  box-shadow: 0 1px 2px 0 grey;
  border-radius: 6px;
}
main .form button {
  width: 160px;
  height: 52px;
  background-color: #3CC8AE;
  color: #fff;
  border-radius: 6px;
}

footer {
  width: 1440px;
  height: 590px;
  margin: auto;
}
footer .top-footer {
  width: 1440px;
  height: 72px;
  display: flex;
  align-items: center;
  margin: auto;
  background-color: #132739;
}
footer .top-footer ul {
  gap: 60px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
footer .top-footer ul a {
  color: #fff;
}
footer .mid-footer {
  width: 1440px;
  height: 286px;
  margin: auto;
  display: flex;
  background-color: #132739;
  border-top: 1px solid rgba(255, 255, 255, 0.252);
  border-bottom: 1px solid rgba(255, 255, 255, 0.252);
  justify-content: space-around;
}
footer .mid-footer ul {
  margin-top: 35px;
}
footer .mid-footer li {
  color: rgba(255, 255, 255, 0.32);
  font-family: "Roboto", sans-serif;
  margin-bottom: 20px;
}
footer .mid-footer li:first-child {
  color: #fff;
  font-size: 20px;
}
footer .mid-footer .form-2 {
  width: 395px;
  height: 100%;
}
footer .mid-footer .form-2 h2 {
  font-family: "Roboto", sans-serif;
  color: #fff;
  margin-top: 30px;
  font-size: 20px;
}
footer .mid-footer .form-2 p {
  color: rgba(255, 255, 255, 0.32);
  font-family: "Roboto", sans-serif;
  margin-top: 10px;
}
footer .mid-footer .form-2 input {
  width: 240px;
  height: 48px;
  padding: 20px;
  box-shadow: 0px 1px 4px 0 grey;
  border-radius: 6px;
  background-color: transparent;
}
footer .mid-footer .form-2 button {
  width: 150px;
  height: 48px;
  background-color: #3CC8AE;
  color: #fff;
  border-radius: 0 6px 6px 0;
  margin-left: -10px;
}
footer .mid-footer .form-2 form {
  margin-top: 30px;
  display: flex;
  height: 48px;
  margin-bottom: 20px;
}
footer .mid-footer .form-2 span {
  color: rgba(255, 255, 255, 0.32);
  font-family: "Roboto", sans-serif;
  margin-top: 10px;
}/*# sourceMappingURL=main.css.map */